<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- ====================   Consumer   ==================== -->
    <!-- AbstractDbConsumer -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.db.AbstractDbConsumer"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <map>
                <!--entry value-ref="dataSourceMYERP"-->
                <entry value-ref="dataSource">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
                    </key>
                </entry>
            </map>
        </property>
    </bean>


    <!-- ==================== Consumer-Proxy ==================== -->

    <!-- ConsumerHelper -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.ConsumerHelper"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <list>
                <ref bean="DaoProxy"/>
            </list>
        </property>
    </bean>


    <!-- DaoProxy -->
    <bean id="DaoProxy" class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl" factory-method="getInstance">
        <property name="comptabiliteDao" ref="ComptabiliteDaoImpl"/>
    </bean>


    <!-- ==================== Databases ==================== -->
    <!--bean id="dataSourceMYERP" class="com.dummy.myerp.technical.util.spring.NullFactoryBean">
        <constructor-arg value="javax.sql.DataSource"/>
    </bean-->

    <!--bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/GameManager" />
        <property name="username" value="gamemanagertest" />
        <property name="password" value="1" />
        <property name="initialSize" value="2" />
        <property name="maxActive" value="5" />
    </bean-->

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/mydb" />
        <property name="username" value="postgres" />
        <property name="password" value="" />
    </bean>

    <!-- ========== SQL ========== -->
    <import resource="sqlContext.xml"/>
</beans>
